# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Node modules
node_modules/

# npm
npm-debug.log
package-lock.json
yarn-error.log

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Android/IntelliJ
android/app/build/
android/.gradle/
android/local.properties
android/*.iml
android/.idea
.idea/
*.iml

# Xcode
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/.xcode.env.local

# Flutter legacy (just in case)
_legacy_flutter/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
